# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
*.orig.*

# Metro
.metro-health-check*

# env & secrets
.env
.env.local
.env.*.local

# macOS
.DS_Store

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.vscode/
.idea/

# TypeScript build info
*.tsbuildinfo
